{##
 * @name      EosAlpha BBS
 * @copyright 2011 Alex Vie silvercircle(AT)gmail(DOT)com
 *
 * This software is a derived product, based on:
 *
 * Simple Machines Forum (SMF)
 * copyright: 2011 Simple Machines (http://www.simplemachines.org)
 * license:   BSD, See included LICENSE.TXT for terms and conditions.
 *
 * @version 1.0pre
 *
 * display the software credits - template part
 #}
{% extends "base.twig" %}
{% block content %}
  <div class="main_section" id="credits">
    <div class="cat_bar2">
      <h3 class="catbg">{{ T.credits }}</h3>
    </div>
    <div class="blue_container cleantop">
     <div class="content">
      {{ C.credits_intro }}
     </div>
    </div>
    {% for section in C.credits %}
      {% if section.pretext is defined %}
        <br>
        <div class="blue_container">
          <div class="content">
            <p>{{ section.pretext }}</p>
          </div>
        </div>
      {% endif %}
      {% if section.title is defined %}
        <br>
        <div class="cat_bar">
          <h3 class="catbg">{{ section.title }}</h3>
        </div>
      {% endif %}
      <div class="blue_container cleantop">
        <div class="content">
          <dl>
            {% for group in section.groups %}
              {% if group.title is defined %}
                <dt>
                  <strong>{{ group.title }}</strong>
                </dt>
                <dd>
              {% endif %}
              {% if group.members|length <= 2 %}
                {{ implode(' ' ~ T.credits_and ~ ' ', group.members) }}
              {% else %}
                {{ implode(', ', group.members) }} {{ T.credits_and }} {{ group.last_peep }}
              {% endif %}
                </dd>
            {% endfor %}
          </dl>
          {% if section.posttext is defined %}
            <p class="posttext">{{ section.posttext }}</p>
          {% endif %}
        </div>
      </div>
  {% endfor %}
  <br>
  <div class="cat_bar2">
    <h3 class="catbg">{{ T.credits_copyright }}</h3>
  </div>
  <div class="blue_container cleantop">
    <div class="content">
      <dl>
        <dt><strong>{{ T.credits_forum }}</strong></dt>
        <dd>{{ C.copyrights.smf }}</dd>
      </dl>
      {% if C.copyrights.mods is not empty %}
        <dl>
          <dt><strong>{{ T.credits_modifications }}</strong></dt>
          <dd>{{ implode('</dd><dd>', C.copyrights.mods) }}</dd>
        </dl>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}