{% block list_notices %}
<script>
// <![CDATA[
  function dismissNews(id) {
    sendRequest('action=dismissnews;id=' + id, null);
  }
// ]]>
</script>
<div class="blue_container gradient_darken_down" id="newsitem_container">
  <div class="content smallpadding inset_shadow">
    <ol class="commonlist noshadow news" id="newsitem_list">
      {% for item in C.news_items %}
        <li class="visible" id="newsitem_{{ item.id }}">
        {% if item.can_dismiss and C.can_dismiss_news %}
          <div class="floatright">
            <a onclick="dismissNews('{{ item.id }}');return(false);" href="{{ SCRIPTURL }}?action=dismissnews;id={{ item.id }}">X</a>
          </div>
        {% endif %}
        {{ item.body }}
        </li>
      {% endfor %}
    </ol>
  </div>
</div>
<div class="cContainer_end"></div>
{% endblock list_notices %}

{# xml response for action=dismissnews 
 # content will have the item id to remove, <handler> is the script that does
 # DOM manipulation #}
 
{% block dismiss_handler %}
<?xml version="1.0" encoding="UTF-8" ?>
<document>
  <response open="private_handler" fn="_h_dismiss_news_item" />
  <content>
    <![CDATA[
      {{ C.item_to_dismiss }}
    ]]>
  </content>
  <handler>
  <![CDATA[
  function _h_dismiss_news_item(content)
  {
    var result = $.parseJSON(content);
    var id = parseInt(result['id']) || 0;
    if(id) {
      if($('li#newsitem_' + id).length) {
        $('li#newsitem_' + id).fadeOut();
        $('li#newsitem_' + id).removeClass('visible');
      }
      if($('#newsitem_list').children('li.visible').length == 0)
        $('#newsitem_container').fadeOut();
    }
  }
  ]]>
  </handler>
</document>
{% endblock dismiss_handler %}