{#
 * @name      EosAlpha BBS
 * @copyright 2011 Alex Vie silvercircle(AT)gmail(DOT)com
 *
 * This software is a derived product, based on:
 *
 * Simple Machines Forum (SMF)
 * copyright: 2011 Simple Machines (http://www.simplemachines.org)
 * license:   BSD, See included LICENSE.TXT for terms and conditions.
 *
 * @version 1.0pre
 *
 * post bits
 * #}

{% block postbit %}
{% if message.postbit_template_class == 'n' %} {# normal postbit #}
{% if message.is_ignored %}
  <div onclick="$('div.post_wrapper[data-mid={{ message.id }}]').show();return(false);" class="orange_container ignoringpost mediummargin">
      {{ T.ignoring_user }}&nbsp;
      {{ T.show_ignore_user_post }}
   </div>
{% endif %}
<div id="msg{{ message.id }}" class="post_wrapper{{ message.is_ignored ? ' ignored' : '' }}" data-mid="{{ message.id }}">
{% if message.id != C.first_message %}
  {{ message.first_new ? '<a id="new"></a>' : '' }}
{% endif %}
<div class="keyinfo std gradient_darken_down">
  <div class="floatleft" style="width:200px;text-align:center;margin-right:20px;" itemscope="itemscope" itemtype="http://data-vocabulary.org/Person">
    <h4 class="poster">{{ message.member.link }}</h4>
  </div>
  <div class="messageicon">
    <img src="{{ message.icon_url }}" alt="" {{ message['can_modify'] ? ' class="iconrequest" id="micon_' ~ message.id ~ '"' : '' }} />
  </div>
  <h5 style="display:inline;" id="subject_{{ message.id }}">
    {{ message.subject }}
  </h5>
  <span class="tinytext {{ message.new? 'permalink_new' : 'permalink_old' }}"><a {{ C.perma_request ? '' : 'onclick="getIntralink($(this),' ~ message.id ~ ');return(false);"' }} href="{{ message.permahref }}" rel="nofollow">{{ message.permalink }}</a>{{ C.use_share and 0 ? '&nbsp;&nbsp;<span style="cursor:pointer" onclick="sharePost($(this));">Share</span>' : '' }}</span>
  <span class="tinytext">&nbsp;{{ message.time }}</span>
  <div id="msg_{{ message.id }}_quick_mod"></div>
</div>
<div class="clear"></div>
{# Show information about the poster of this message. #}
<div class="poster std">
  <ul class="reset tinytext" id="msg_{{ message.id }}_extra_info">
  {% if message.member.is_guest == 0 %}
    {% if S.show_user_images and O.show_no_avatars is empty %}
      {% if message.member.avatar.image is defined and message.member.avatar.image is not empty %}
        <li class="avatar">
          {{ message.member.avatar.image }}
        </li>
      {% else %}
        <li class="avatar">
          <img src="{{ S.images_url }}/unknown.png" alt="avatar" />
        </li>
      {% endif %}
    {% endif %}
    <li class="membergroup">{{ message.member.group_stars }}</li>
    {% if message.member.title is not empty %}
      <li class="title">{{ message.member.title }}</li>
    {% endif %}
    {% if M.karmaMode == '1' %}
      <li class="karma">{{ M.karmaLabel }} {{ message.member.karma.good - message.member.karma.bad }}</li>
    {% elseif M.karmaMode == '2' %}
      <li class="karma">{{ M.karmaLabel }} +{{ message.member.karma.good }}/-{{ message.member.karma.bad }}</li>
    {% endif %}
    {% if message.member.karma.allow %}
      <li class="karma_allow">
        <a href="{{ SCRIPTURL }}?action=modifykarma;sa=applaud;uid={{ message.member.id }};topic={{ C.current_topic }}.{{ C.start }};m={{ message.id }};{{ C.session_var }}={{ C.session_id }}">{{ M.karmaApplaudLabel }}</a>
        <a href="{{ SCRIPTURL }}?action=modifykarma;sa=smite;uid={{ message.member.id }};topic={{ C.current_topic }}.{{ C.start }};m={{ message.id }};{{ C.session_var }}={{ C.session_id }}">{{ M.karmaSmiteLabel }}</a>
      </li>
    {% endif %}
    {% if message.member.blurb != '' %}
      <li class="blurb">{{ message.member.blurb }}</li>
    {% endif %}
    {% if message.member.custom_fields is defined and message.member.custom_fields is not empty %}
      {% set shown = false %}
      {% for custom in message.member.custom_fields if (custom.placement == 1 and custom.value is not empty) %}
        {% if shown == false %}
          {% set shown = true %}
          <li class="im_icons">
          <ul>
        {% endif %}
          <li>{{ custom.value }}</li>
      {% endfor %}
      {% if shown %}
        </ul>
        </li>
      {% endif %}
    {% endif %} 
    {% if message.member.custom_fields is defined and message.member.custom_fields is not empty %}
      {% for custom in message.member.custom_fields %}
        {% if custom.placement is empty or custom.value is empty %}
          <li class="custom">{{ custom.title }}: {{ custom.value }}</li>
        {% endif %}
      {% endfor %}
    {% endif %}
    {# Are we showing the warning status? #}
    {% if message.member.can_see_warning %}
      <li class="warning">{{ C.can_issue_warning ? '<a href="' ~ SCRIPTURL ~ '?action=profile;area=issuewarning;u=' ~ message.member.id ~ '">' : '' }}<img src="{{ S.images_url }}/warning_{{ message.member.warning_status }}.gif" alt="{{ message.member.warning_status_desc }}" />{{ C.can_issue_warning ? '</a>' : '' }}<span class="warn_{{ message.member.warning_status }}">{{ message.member.warning_status_desc1 }}</span></li>
    {% endif %}
    {% if M.onlineEnable is not empty and message.member.is_guest == 0 and message.member.online.is_online %}
      <li><br>{{ C.can_send_pm ? '<a href="' ~ message.member.online.href ~ '">' : '' }}{{ message.member.online.text }}{{ C.can_send_pm ? '</a>' : '' }}</li>
    {% endif %}
  {% elseif message.member.allow_show_email %}
    <li class="email"><a href="{{ SCRIPTURL }}?action=emailuser;sa=email;msg={{ message.id }}" rel="nofollow">{{ S.use_image_buttons ? '<img src="' ~ S.images_url ~ '/email_sm.gif" alt="' ~ T.email ~ '" title="' ~ T.email ~ '" />' : T.email }}</a></li>
  {% endif %} {# is guest #}
  </ul>
  {{ message.template_hook.poster_details }}
</div>
<div class="post_content std">
<div class="post" id="msg_{{ message.id }}">
<article>
{{ message.body }}
</article>
</div>
{% if message.attachment is defined and message.attachment is not empty %}
  <div id="msg_{{ message.id }}_footer" class="attachments smalltext">
    <ol class="post_attachments">
    {% set last_approved_state = 1 %}
    {% for attachment in message.attachment %}
      <li>
      {% if attachment.is_approved != last_approved_state %}
        {% set last_approved_state = 0 %}
        <fieldset>
          <legend>{{ T.attach_awaiting_approve }}
          {% if C.can_approve %}
            &nbsp;[<a href="{{ SCRIPTURL }}?action=attachapprove;sa=all;mid={{ message.id }};{{ C.session_var }}={{ C.session_id }}">{{ T.approve_all }}</a>]
          {% endif %}
          </legend>';
      {% endif %}

      {% if attachment.is_image %}
        {% if attachment.thumbnail.has_thumb %}
          <a rel="prettyPhoto[gallery]" href="{{ attachment.href }};image" id="link_{{ attachment.id }}" class="attach_thumb"><img src="{{ attachment.thumbnail.href }}" alt="" id="thumb_{{ attachment.id }}" /></a>
        {% else %}
          <img src="{{ attachment.href }};image" alt="" width="{{ attachment.width }}" height="{{ attachment.height }}"/>
        {% endif %}
      {% endif %}
      <a href="{{ attachment.href }}">{{ attachment.name }}</a><br>

      {% if attachment.is_approved == 0 and C.can_approve %}
        [<a href="{{ SCRIPTURL }}?action=attachapprove;sa=approve;aid={{ attachment.id }};{{ C.session_var }}={{ C.session_id }}">{{ T.approve }}</a>]&nbsp;|&nbsp;[<a href="{{ SCRIPTURL }}?action=attachapprove;sa=reject;aid={{ attachment.id }};{{ C.session_var }}={{ C.session_id }}">{{ T.delete }}</a>]
      {% endif %}
      {{ attachment.size }}{{ attachment.is_image ? ', ' ~ attachment.real_width ~ 'x' ~ attachment.real_height ~ '<br>' ~ T.attach_viewed : '<br>' ~ T.attach_downloaded ~ ' ' ~ attachment.downloads ~ ' ' ~ T.attach_times ~ '.<br>' }}
      </li>
    {% endfor %}
    {% if last_approved_state == 0 %}
      </fieldset>
    {% endif %}
    </ol>
  </div>
{% endif %} {# attachments #}
<div class="moderatorbar">
{% if message.member.custom_fields is defined and message.member.custom_fields is not empty %}
  {% set shown = false %}
  {% for custom in message.member.custom_fields if (custom.placement == 2 and custom.value is not empty) %}
    {% if shown == false %}
      {% set shown = true %}
      <div class="custom_fields_above_signature">
      <ul class="reset nolist">
    {% endif %}
    <li>{{ custom.value }}</li>
  {% endfor %}
  {% if shown %}
   </ul>
  </div>
  {% endif %}
{% endif %}
{{ message.template_hook.before_sig }}
{% if message.member.signature is defined and message.member.signature != '' and O.show_no_signatures == 0 and C.signature_enabled %}
  <div class="signature" id="msg_{{ message.id }}_signature">{{ message.member.signature }}</div>
{% endif %}
{{ message.template_hook.after_sig }}
{% if message.likes_count > 0 or message.likelink is not empty %}
  <div class="likebar">
    <div class="floatright">{{ message.likelink }}</div>
    <span id="likers_msg_{{ message.id }}">{{ message.likers }}</span>
    <div class="clear_right"></div>
  </div>
{% endif %}
{% if S.show_modify and message.modified.name != '' %}
  <div class="orange_container norounded smallpadding tinytext" id="modified_{{ message.id }}">
    {{ T.last_edit }}: {{ message.modified.time }} {{ T.by }} {{ message.modified.name }}
  </div>
{% endif %}
  </div>
  <div class="clear_left"></div>
</div>
<div class="post_bottom{{ message.mq_marked ? ' mq' : '' }}">
  <div class="reportlinks lefttext">
    {{ generics.quickbuttons(message, _context) }}
  </div>
</div>
</div>
{{ message.template_hook.postbit_below }}
{#
 #
 #
 #
 #}
{% elseif message.postbit_template_class == 'a' %} {# plain (article style) display #}
{% if message.is_ignored %}
  <div onclick="$('div.post_wrapper[data-mid={{ message.id }}]').show();return(false);" class="orange_container ignoringpost mediummargin">
      {{ T.ignoring_user }}&nbsp;
      {{ T.show_ignore_user_post }}
    </div>
{% endif %}
<div data-mid="{{ message.id }}">
{% if message.id != C.first_message %}
  <a id="msg{{ message.id }}"></a>{{ message.first_new ? '<a id="new"></a>' : '' }}
{% endif %}
<div class="keyinfo clean">
  <div>
    <span class="{{ message.new ? 'permalink_new' : 'permalink_old' }}"><a onclick="getIntralink($(this), {{ message.id }});return(false);" href="{{ message.permahref }}" rel="nofollow">{{ message.permalink }}</a>{{ C.use_share ? '&nbsp;&nbsp;<span style="cursor:pointer" onclick="sharePost($(this));">Share</span>' : '' }}</span>
    Posted by: {{ message.member.link }}&nbsp;
    <span class="smalltext">{{ message.time }}</span>
  </div>
  <span style="display:none;" id="subject_{{ message.id }}">
    {{ message.subject }}
  </span>
</div>
<div id="msg_{{ message.id }}_quick_mod"></div>
  <div class="post clear_left" style="margin:0;padding:0;" id="msg_{{ message.id }}">
  {% if message.approved == 0 and message.member.id != 0 and message.member.id == C.user.id %}
    <div class="approve_post">
      {{ T.post_awaiting_approval }}
    </div>
  {% endif %}
  <article>
    {{ message.body }}
  </article>
  </div>
{% if message.attachment is defined and message.attachment is not empty %}
  <div id="msg_{{ message.id }}_footer" class="attachments smalltext">
    <ol class="post_attachments">
    {% set last_approved_state = 1 %}
    {% for attachment in message.attachment %}
      <li>
      {% if attachment.is_approved != last_approved_state %}
        {% set last_approved_state = 0 %}
        <fieldset>
          <legend>{{ T.attach_awaiting_approve }}
          {% if C.can_approve %}
            &nbsp;[<a href="{{ SCRIPTURL }}?action=attachapprove;sa=all;mid={{ message.id }};{{ C.session_var }}={{ C.session_id }}">{{ T.approve_all }}</a>]
          {% endif %}
          </legend>';
      {% endif %}

      {% if attachment.is_image %}
        {% if attachment.thumbnail.has_thumb %}
          <a rel="prettyPhoto[gallery]" href="{{ attachment.href }};image" id="link_{{ attachment.id }}" class="attach_thumb"><img src="{{ attachment.thumbnail.href }}" alt="" id="thumb_{{ attachment.id }}" /></a>
        {% else %}
          <img src="{{ attachment.href }};image" alt="" width="{{ attachment.width }}" height="{{ attachment.height }}"/>
        {% endif %}
      {% endif %}
      <a href="{{ attachment.href }}">{{ attachment.name }}</a><br>

      {% if attachment.is_approved == 0 and C.can_approve %}
        [<a href="{{ SCRIPTURL }}?action=attachapprove;sa=approve;aid={{ attachment.id }};{{ C.session_var }}={{ C.session_id }}">{{ T.approve }}</a>]&nbsp;|&nbsp;[<a href="{{ SCRIPTURL }}?action=attachapprove;sa=reject;aid={{ attachment.id }};{{ C.session_var }}={{ C.session_id }}">{{ T.delete }}</a>]
      {% endif %}
      {{ attachment.size }}{{ attachment.is_image ? ', ' ~ attachment.real_width ~ 'x' ~ attachment.real_height ~ '<br>' ~ T.attach_viewed : '<br>' ~ T.attach_downloaded ~ ' ' ~ attachment.downloads ~ ' ' ~ T.attach_times ~ '.<br>' }}
      </li>
    {% endfor %}
    {% if last_approved_state == 0 %}
      </fieldset>
    {% endif %}
    </ol>
  </div>
{% endif %} {# attachments #}
<div class="moderatorbar" style="margin-left:10px;">
</div>
{% if message.likes_count > 0 or message.likelink is not empty %}
  <div class="likebar">
    <div class="floatright">{{ message.likelink }}</div>
    <span id="likers_msg_{{ message.id }}">{{ message.likers }}</span>
    <div class="clear_right"></div>
  </div>
{% endif %}
<div class="post_bottom" style="background-color:transparent;">
  <div style="display:inline;">
    <span class="modified" id="modified_{{ message.id }}">
    {% if S.show_modify and message.modified.name is not empty %}
      <em>{{ T.last_edit }}: {{ message.modified.time }} {{ T.by }} {{ message.modified.name }}</em>
    {% endif %}
    </span>
  </div>
  <div class="reportlinks">
  <ul class="floatright plainbuttonlist">
  {% if message.can_approve %}
    <li><a rel="nofollow" href="{{ SCRIPTURL }}?action=moderate;area=postmod;sa=approve;topic={{ C.current_topic }}.{{ C.start }};msg={{ message.id }};{{ C.session_var }}={{ C.session_id }}">{{ T.approve }}</a></li>
  {% endif %}
  {% if message.can_modify %}
    <li><a rel="nofollow" onclick="oQuickModify.modifyMsg('{{ message.id }}');return(false);" href="{{ SCRIPTURL }}?action=post;msg={{ message.id }};topic={{ C.current_topic }}.{{ C.start }}">{{ T.modify }}</a></li>
  {% endif %}      
  {% if message.can_remove %}
    <li><a rel="nofollow" href="{{ SCRIPTURL }}?action=deletemsg;topic={{ C.current_topic }}.{{ C.start }};msg={{ message.id }};{{ C.session_var }}={{ C.session_id }}" onclick="return Eos_Confirm('', '{{ T.remove_message }}?', $(this).attr('href'));">{{ T.remove }}</a></li>
  {% endif %}
  {% if C.can_split and C.real_num_replies > 0 %}
    <li><a rel="nofollow" href="{{ SCRIPTURL }}?action=splittopics;topic={{ C.current_topic }}.0;at={{ message.id }}">{{ T.split }}</a></li>
  {% endif %}
  {% if C.can_restore_msg %}
    <li><a rel="nofollow" href="{{ SCRIPTURL }}?action=restoretopic;msgs={{ message.id }};{{ C.session_var }}={{ C.session_id }}">{{ T.restore_message }}</a></li>
  {% endif %}
  {% if O.display_quick_mod and message.can_remove %}
    <li class="inline_mod_check" style="display: none;" id="in_topic_mod_check_{{ message.id }}"></li>
  {% endif %}
  </ul>
  </div><div class="clear"></div></div>
</div>
{#


  #}
{% elseif message.postbit_template_class == 'l' %} {# lean (poster info on top) #}
{% elseif message.postbit_template_class == 'c' %} {# comment style #}
{% if message.is_ignored %}
  <div onclick="$('div.post_wrapper[data-mid={{ message.id }}]').show();return(false);" class="orange_container ignoringpost mediummargin">
    {{ T.ignoring_user }}&nbsp;
    {{ T.show_ignore_user_post }}
  </div>
{% endif %}
<div id="msg{{ message.id }}" class="post_wrapper commentstyle {{ message['approved'] == 0 ? ' approval' : '' }} {{ message.is_ignored ? ' ignored' : '' }}" data-mid="{{ message.id }}">
{% if message.id != C.first_message %}
  {{ message.first_new ? '<a id="new"></a>' : '' }}
{% endif %}
<div class="keyinfo commentstyle">
  <div class="floatleft " style="max-width:65px;">
    <ul class="reset smalltext" id="msg_{{ message.id }}_extra_info">
    {% if message.member.avatar.image is defined and message.member.avatar.image is not empty %}
      <li class="medium_avatar">
        {{ message.member.avatar.image }}
      </li>
    {% else %}
      <li class="medium_avatar">
        <img src="{{ S.images_url }}/unknown.png" alt="avatar" />
      </li>
    {% endif %}
    </ul>
  </div>
  <div>
    {{ message.member.link }} said<span class="smalltext">&nbsp;{{ message.time }}</span>&nbsp;-&nbsp;{{ message.subject }}
    <span class="{{ message.new ? 'permalink_new' : 'permalink_old' }}"><a onclick="getIntralink($(this), {{ message.id }});return(false);" href="{{ message.permahref }}" rel="nofollow">{{ message.permalink }}</a></span>
    <div id="msg_{{ message.id }}_quick_mod"></div>
  </div>
</div>
<div class="post_content commentstyle">
{% if message.approved == 0 and message.member.id != 0 %}
    <div class="red_container mediumpadding mediummargin">
      {{ T.post_awaiting_approval }}&nbsp;&nbsp;<a onclick="$('#msg_{{ message.id }}').show();return(false);" href="#!">Show me the message</a>
    </div>
{% endif %}
<div class="post" id="msg_{{ message.id }}" {{ message.approved ? '' : ' style="display:none;"' }}>
  <article>
    {{ message.body }}
  </article>
</div>

{% if message.attachment is defined and message.attachment is not empty %}
  <div id="msg_{{ message.id }}_footer" class="attachments smalltext">
    <ol class="post_attachments">
    {% set last_approved_state = 1 %}
    {% for attachment in message.attachment %}
      <li>
      {% if attachment.is_approved != last_approved_state %}
        {% set last_approved_state = 0 %}
        <fieldset>
          <legend>{{ T.attach_awaiting_approve }}
          {% if C.can_approve %}
            &nbsp;[<a href="{{ SCRIPTURL }}?action=attachapprove;sa=all;mid={{ message.id }};{{ C.session_var }}={{ C.session_id }}">{{ T.approve_all }}</a>]
          {% endif %}
          </legend>';
      {% endif %}

      {% if attachment.is_image %}
        {% if attachment.thumbnail.has_thumb %}
          <a rel="prettyPhoto[gallery]" href="{{ attachment.href }};image" id="link_{{ attachment.id }}" class="attach_thumb"><img src="{{ attachment.thumbnail.href }}" alt="" id="thumb_{{ attachment.id }}" /></a>
        {% else %}
          <img src="{{ attachment.href }};image" alt="" width="{{ attachment.width }}" height="{{ attachment.height }}"/>
        {% endif %}
      {% endif %}
      <a href="{{ attachment.href }}">{{ attachment.name }}</a><br>

      {% if attachment.is_approved == 0 and C.can_approve %}
        [<a href="{{ SCRIPTURL }}?action=attachapprove;sa=approve;aid={{ attachment.id }};{{ C.session_var }}={{ C.session_id }}">{{ T.approve }}</a>]&nbsp;|&nbsp;[<a href="{{ SCRIPTURL }}?action=attachapprove;sa=reject;aid={{ attachment.id }};{{ C.session_var }}={{ C.session_id }}">{{ T.delete }}</a>]
      {% endif %}
      {{ attachment.size }}{{ attachment.is_image ? ', ' ~ attachment.real_width ~ 'x' ~ attachment.real_height ~ '<br>' ~ T.attach_viewed : '<br>' ~ T.attach_downloaded ~ ' ' ~ attachment.downloads ~ ' ' ~ T.attach_times ~ '.<br>' }}
      </li>
    {% endfor %}
    {% if last_approved_state == 0 %}
      </fieldset>
    {% endif %}
    </ol>
  </div>
{% endif %} {# attachments #}

<div class="moderatorbar">
{% if message.likes_count > 0 or message.likelink is not empty %}
  <div class="likebar">
    <div class="floatright">{{ message.likelink }}</div>
    <span id="likers_msg_{{ message.id }}">{{ message.likers }}</span>
    <div class="clear_right"></div>
  </div>
{% endif %}
  <span class="tinytext" id="modified_{{ message.id }}">
  {% if S.show_modify and message.modified.name != '' %}
    <div class="orange_container norounded smallpadding tinytext" id="modified_{{ message.id }}">
      {{ T.last_edit }}: {{ message.modified.time }} {{ T.by }} {{ message.modified.name }}
    </div>
  {% endif %}
  </span>
</div>
</div>
<div class="post_bottom">
  <div class="reportlinks">
    {{ generics.quickbuttons(message, _context) }}
  </div>
  <div class="clear"></div>
</div>
</div>
{% endif %}
{% endblock postbit %}
