{##
 * @name      EosAlpha BBS
 * @copyright 2011 Alex Vie silvercircle(AT)gmail(DOT)com
 *
 * This software is a derived product, based on:
 *
 * Simple Machines Forum (SMF)
 * copyright: 2011 Simple Machines (http://www.simplemachines.org)
 * license:   BSD, See included LICENSE.TXT for terms and conditions.
 *
 * @version 1.0pre
 *
 * small template blocks for ajax response handlers
 #}
{% block help_popup %}
  <div class="blue_container norounded content tinytext mediumpadding">
    {{ C.help_text }}<br>
  </div>
{% endblock %}

{# output the "who posted" information box #}
{% block who_posted_xml %}
<?xml version="1.0" encoding="UTF-8" ?>
<document>
 <response open="default_overlay" width="auto" offset="-150" />
 <content>
 <![CDATA[ <!-- > -->
  <div class="title_bar">
    <h1>{{ T.who_posted }}</h1>
  </div>
  <div class="blue_container mediumpadding mediummargin" style="width:200px;">
    <dl class="common">
      <dt class="red_container lefttext"><strong>&nbsp;&nbsp;{{ T.who_member }}&nbsp;&nbsp;</strong></dt>
      <dd class="red_container righttext"><strong>&nbsp;&nbsp;{{ T.posts }}&nbsp;&nbsp;</strong></dd>
      {% for poster in C.posters %}
        <dt class="lefttext">{{ poster.real_name }}</dt>
        <dd class="righttext">{{ poster.count }}</dd>
      {% endfor %}
    </dl>
  </div>
  ]]>
 </content>
</document>
{% endblock who_posted_xml %}
