{% extends "base.twig" %}
{% import "generics.twig" as generics %}
{% import "bits.twig" as bits %}
{% block content %}
  {{ C.template_hooks.boardindex.above_boardlisting }}
  <div id="boardindex">
  {% for category in C.categories %}
  {% if category.boards is not empty %}
    {% if category.is_root is empty %}
      <div class="category" id="category_{{ category.id }}">
      <div class="cat_bar2">
      {% if category.can_collapse %}
        <div class="csrcwrapper16px floatright"><a onclick="catCollapse($(this));return(false);" data-id="{{ category.id }}" class="collapse floatright" href="{{ category.collapse_href }}">{{ category.collapse_image }}</a></div>
      {% endif %}
      {% if C.user.is_guest == 0 and category.new > 0 %}
        <a class="unreadlink" href="{{ SCRIPTURL }}?action=unread;c={{ category.id }}">{{ T.view_unread_category }}</a>
      {% endif %}
      <h3>
        {{ category.link }}
      </h3>
      </div>
      </div>
    {% endif %}
    <div class="framed_region cleantop {{ category.is_root ? 'root_cat' : 'normal_cat' }}" style="{{ category.is_collapsed ? 'display:none;' : '' }}" id="category_{{ category.id }}_boards">
      <ol class="commonlist category">
        {% if category.desc is not empty %}
          <li class="cat_desc">
            <h3>{{ category.desc }}</h3>
          </li>
        {% endif %}
        {% for board in category.boards %}
          {{ bits.boardbit(board, _context) }}
        {% endfor %}
      </ol>
    </div>
    <div class="cContainer_end"></div>
  {% endif %}
  {% endfor %}

  {% if C.hidden_boards.hidden_count %}
    <div id="show_hidden_boards" class="orange_container norounded gradient_darken_down tinytext"><span class="floatright">{{ C.hidden_boards.setup_notice }}</span><strong>{{ sprintf(C.hidden_boards.notice, C.hidden_boards.hidden_count, '<a onclick="$(\'div#category_0\').fadeIn();return(false);" href="!#">') }}</strong></div>
    <div class="category" id="category_{{ C.hidden_boards.id }}" style="display:none;">
    <div class="framed_region cleantop root_cat" id="category_{{ C.hidden_boards.id }}_boards">
      <ol class="commonlist category">
        {% for board in C.hidden_boards.boards %}
            {{ bits.boardbit(board, _context) }}
        {% endfor %}
      </ol>
    </div>
    </div>
    <div class="cContainer_end"></div>
  {% endif %}
  </div>
  {% if C.user.is_logged %}
    <div id="posting_icons" class="floatleft">
    <table>
    <tr>
      <td>
      <div>
        <div style="left:-25px;margin-right:-25px;" class="csrcwrapper24px"><img class="clipsrc _off" src="{{ S.images_url }}/clipsrc.png" alt="" />
          <img alt="" style="position:absolute;bottom:-4px;right:-28px;" src="{{ S.images_url }}/new.png" />
        </div>
      </div>
      </td>
      <td class="nowrap smalltext" style="padding-left:28px;">{{ T.new_posts }}</td>
      <td><div class="csrcwrapper24px"><img class="clipsrc _off" src="{{ S.images_url }}/clipsrc.png" alt="" /></div></td><td class="nowrap smalltext" style="padding-left:28px;">{{ T.old_posts }}</td>
      <td><div class="csrcwrapper24px"><img class="clipsrc _redirect" src="{{ S.images_url }}/clipsrc.png" alt="" /></div></td><td class="nowrap smalltext" style="padding-left:28px;">{{ T.redirect_board }}</td>
      <td><div class="csrcwrapper24px"><img class="clipsrc _page" src="{{ S.images_url }}/clipsrc.png" alt="" /></div></td><td class="nowrap smalltext" style="padding-left:28px;">{{ T.a_page }}</td>
    </tr>
    </table>
    </div>
    {% if S.show_mark_read and C.categories is not empty %}
      {% set mark_read_button = {'markread': {'text': 'mark_as_read', 'image': 'markread.gif', 'lang': true, 'url': SCRIPTURL ~ '?action=markasread;sa=all;' ~ C.session_var ~ '=' ~ C.session_id }} %}
      <div class="mark_read">
        {{ button_strip(mark_read_button, 'right') }}
      </div>
    {% endif %}
  {% else %}
    <div id="posting_icons" class="flow_hidden">
    <table>
    <tr>
      <td><div class="csrcwrapper24px"><img class="clipsrc _off" src="{{ S.images_url }}/clipsrc.png" alt="" /></div></td><td class="nowrap smalltext" style="padding-left:28px;">{{ T.old_posts }}</td>
      <td><div class="csrcwrapper24px"><img class="clipsrc _redirect" src="{{ S.images_url }}/clipsrc.png" alt="" /></div></td><td class="nowrap smalltext" style="padding-left:28px;">{{ T.redirect_board }}</td>
      <td><div class="csrcwrapper24px"><img class="clipsrc _page" src="{{ S.images_url }}/clipsrc.png" alt="" /></div></td><td class="nowrap smalltext" style="padding-left:28px;">{{ T.a_page }}</td>
    </tr>
    </table>
    </div>
  {% endif %}
  {# here goes the info center #}
  {# "Users online" - in order of activity. #}
  <div class="clear_left"></div>
  {% if C.show_who is defined %}
    <div class="cat_bar2">
      <h3 class="lefttext">
        {{ C.show_who ? '<a href="' ~ url_action(SCRIPTURL ~ '?action=who') ~ '">' : '' }} {{ T.online_users }} {{ C.show_who ? '</a>' : '' }}
      </h3>
    </div>
    <div class="blue_container smallpadding smalltext cleantop">
      {{ sprintf(T.who_summary, C.num_guests, C.num_users_online, M.lastActive) }}

      {% if C.show_who_formatted is defined %}
        {{ C.show_who_formatted }}
      {% endif %}

      {{ C.show_who ? '<br>' ~ T.who_showby ~ '<a href="' ~ url_action(SCRIPTURL ~ '?action=who;show=all;sort=user') ~ '">' ~ T.username ~ '</a> | <a href="' ~ url_action(SCRIPTURL ~ '?action=who;show=all;sort=time') ~ '">' ~ T.who_lastact ~ '</a>' : '' }}
      <p class="inline smalltext">
      {# Assuming there ARE users online... each user in users_online has an id, username, name, group, href, and link. #}
      {% if C.users_online is not empty %}
        {{ sprintf(T.users_active, M.lastActive) }}:<br />{{ implode(', ', C.list_users_online) }}

        {# Showing membergroups? #}
        {% if S.show_group_key is not empty and C.membergroups is not empty %}
          <br />[{{ implode(']&nbsp;&nbsp;[', C.membergroups) }}]
        {% endif %}
      {% endif %}
      </p>
      <div class="last smalltext">
        {{ T.most_online_today }}: <strong>{{ comma_format(M.mostOnlineToday) }}</strong>.
        {{ T.most_online_ever }}: {{ comma_format(M.mostOnline) }} ({{ timeformat(M.mostDate) }})
      </div>
    </div>
  {% endif %}
  {{ C.template_hooks.boardindex.below_boardlisting }}
{% endblock content %}
