{% extends "base_xml.twig" %}
{% block xml_content %}
<response open="default_overlay" width="500px" offset="-150" />
  <content>
  <![CDATA[ <!-- > -->
    {% if C.member is not defined %}
      <div class="orange_container largepadding">
        {{ T.no_access }}
      </div>
    {% else %}
      {% set member = C.member %}
      <div class="title_bar" style="padding-left:100px;">
      </div>
      <table style="border:0;width:100%;">
        <tr>
          <td style="vertical-align:top;text-align:center;">
            <div style="position:relative;top:-26px;margin-bottom:-26px;">
            {% if member.avatar.image is defined and member.avatar.image is not empty %}
              {{ member.avatar.image }}
            {% else %}
              <img class="avatar" src="{{ S.images_url }}/unknown.png" alt="avatar" />
            {% endif %}
            </div>
            {{ member.group_stars }}
            <br />
            <br />
            Karma: {{ member.karma.good }}
            <br />
            {{ T.posts }}: <a class="important" href="{{ url_parse('?action=profile;area=showposts;u=' ~ member.id) }}">{{ member.posts }}</a>
          </td>
          <td style="width:100%;vertical-align:top;" class="smallpadding">
            <h1 style="position:relative;top:-28px;margin-bottom:-16px;">
              {{ member.name }}
            </h1>
            {% if member.blurb is defined %}
              <div class="orange_container" style="padding:3px;margin-bottom:3px;"><strong>{{ member.blurb }}</strong></div>
            {% endif %}
            <div class="blue_container inset_shadow smallpadding" style="margin-bottom:5px;">
              {% if member.group is defined %}
                {{ T.primary_membergroup }}: <strong>{{ member.group }}</strong><br />
              {% endif %}
              {% if member.post_group is defined %}
                {{ T.additional_membergroups }}: <strong>{{ member.post_group }}</strong><br /><br />
              {% endif %}
              {% if member.loc is defined %}
                {{ implode(', ', member.loc) }}<br />
              {% endif %}
              {{ T.date_registered }}: {{ member.registered }}<br />
              <br />
              {{ sprintf(T.like_profile_report, member.name, url_parse('?action=profile;area=showposts;sa=likesout;u=' ~ member.id), member.likesgiven, url_parse('?action=profile;area=showposts;sa=likes;u=' ~ member.id), member.liked, url_parse('?action=profile;area=showposts;u=' ~ member.id), member.posts) }}
              <br />
              <br />
              {% if member.online.is_online is defined and member.online.is_online %}
                <strong style="color:green;">{{ T.online }}</strong>
              {% else %}
                {{ T.lastLoggedIn }}: {{ member.last_login }}
              {% endif %}
            </div>
          </td>
        </tr>
      </table>
      <div class="cat_bar">
        <div style="position:absolute;bottom:3px;right:8px;"><a href="{{ url_parse('?action=profile;u=' ~ member.id) }}">{{ T.view_full_profile }}</a>
        </div>
        <div class="clear"></div>
      </div>
    {% endif %}
  ]]>
  </content>
{% endblock xml_content %}
