{##
 * @name      EosAlpha BBS
 * @copyright 2011 Alex Vie silvercircle(AT)gmail(DOT)com
 *
 * This software is a derived product, based on:
 *
 * Simple Machines Forum (SMF)
 * copyright: 2011 Simple Machines (http://www.simplemachines.org)
 * license:   BSD, See included LICENSE.TXT for terms and conditions.
 *
 * @version 1.0pre
 *
 * side bar template for the board index
 #}
{% set widgetstyle = 'framed_region cleantop tinypadding' %}
{{ C.template_hooks.global.sidebar_top }}
<script>
// <![CDATA[
  sidebar_content_loaded = 1;
// ]]>
</script>
{{ generics.collapser(_context, 'user_panel', 'User panel', widgetstyle) }}
{# If the user is logged in, display stuff like their name, new messages, etc. #}
<div class="blue_container smallpadding norounded gradient_darken_down">
{% if C.user.is_logged %}
  <div class="smalltext user">
  {% if C.user.avatar.image is defined and C.user.avatar.image is not empty %}
    <div class="avatar floatleft">{{ C.user.avatar.image }}</div>
  {% else %}
    <div class="avatar floatleft"><img src="{{ S.images_url }}/unknown.png" alt="avatar" /></div>
  {% endif %}
  <ul class="reset" style="line-height:110%;">
    <li class="greeting"><a href="{{ url_user(C.user.id, C.user.name) }}">{{ C.user.name }}</a></li>
    <li class="smalltext">{{ U.posts }} {{ T.posts }}<li>
    <li class="smalltext">{{ U.likesreceived }} {{ T.likes }}<li>
    <li class="smalltext"><span class="smalltext floatright"><a href="{{ SCRIPTURL }}?action=logout;{{ C.session_var }}={{ C.session_id }}">Sign out</a></span><li>
  </ul>
  <div class="clear">
    <a href="{{ url_parse(SCRIPTURL ~ '?action=unread') }}">{{ T.unread_since_visit }}</a><br>
    <a href="{{ url_parse(SCRIPTURL ~ '?action=unreadreplies') }}">{{ T.show_unread_replies }}</a>
  </div>
  <div style="margin-top:3px;">
  {#} Is the forum in maintenance mode? #}
  {% if C.in_maintenance and C.user.is_admin %}
    <div class="errorbox smallpadding">{{ T.maintain_mode_on }}</div>
  {% endif %}
  {# Are there any members waiting for approval? #}
  {% if C.unapproved_members is defined and C.unapproved_members > 0 %}
    <div>{{ C.unapproved_members == 1 ? T.approve_thereis : T.approve_thereare }} <a href="{{ SCRIPTURL }}?action=admin;area=viewmembers;sa=browse;type=approve">{{ C.unapproved_members == 1 ? T.approve_member : C.unapproved_members ~ ' ' ~ T.approve_members }}</a>{{ T.approve_members_waiting }}</div>
  {% endif %}
  {% if C.open_mod_reports > 0 and C.show_open_reports > 0 %}
    <div><a href="{{ SCRIPTURL }}?action=moderate;area=reports">{{ sprintf(T.mod_reports_waiting, C.open_mod_reports) }}</a></div>
  {% endif %}
  </div>
  </div>
  </div>
  {# Otherwise they're a guest - this time ask them to either register or login - lazy bums...#}
{% else %}
  <div class="smalltext">
  <script type="text/javascript" src="{{ S.default_theme_url }}/scripts/min/sha1.js{{ C.jsver }}"></script>
  <div>
    <form id="guest_form" action="{{ SCRIPTURL }}?action=login2" method="post" accept-charset="UTF-8" {{ C.disable_login_hasing is not defined or C.disable_login_hashing == 0 ? ' onsubmit="hashLoginPassword(this, \'' ~ C.session_id ~ '\');"' : '' }}>
      <div class="orange_container centertext">{{ sprintf(T.welcome_guest, T.guest_title) }}</div>
        <table>
          <tr>
            <td class="nowrap"><strong>{{ T.username }}:</strong></td>
            <td><input type="text" name="user" size="20" class="input_text" /></td>
          </tr>
          <tr>
            <td class="nowrap"><strong>{{ T.password }}:</strong></td>
            <td><input type="password" name="passwrd" size="20" class="input_password" /></td>
          </tr>
        </table>
        <span style="line-height:20px;">{{ T.always_logged_in }}<input type="checkbox" name="cookielength" value="-1"></span>
        <input style="width:90%;margin-left:5%;margin-top:10px;" type="submit" value="{{ T.login }}" class="button_submit" /><br />
        {% if M.enableOpenID %}
          <br>
          <input type="text" name="openid_identifier" id="openid_url" size="25" class="input_text openid_login" />
        {% endif %}
        <input type="hidden" name="hash_passwrd" value="" />
    </form>
    <br>
    {% if( not (M.registration_method is not empty and M.registration_method == 3)) %}
      <div class="orange_container">
        {{ T.login_or_register }}
      </div>
    {% else %}
      <div class="orange_container">
        {{ T.registration_disabled }}
      </div>
    {% endif %}
    </div>
    </div>
  </div>
{% endif %}
</div>
<div class="cContainer_end"></div>
{# Show statistical style information... #}
{% if S.show_stats_index and C.show_stats is defined %}
  {{ generics.collapser(_context, 'stats_panel', T.forum_stats, widgetstyle) }}
  <div class="blue_container norounded smallpadding gradient_darken_down">
    <div class="smallpadding smalltext">
      <dl class="common">
        <dt>{{ T.posts }}: </dt><dd class="righttext">{{ C.common_stats.total_posts }}</dd>
        <dt>{{ T.topics }}: </dt><dd class="righttext">{{ C.common_stats.total_topics }}</dd>
        <dt>{{ T.members }}: </dt><dd class="righttext">{{ C.common_stats.total_members }}</dd>
        {% if S.show_latest_member %}
          <dt>{{ T.latest_member }}: </dt><dd class="righttext"><strong><a href="{{ url_user(C.common_stats.latest_member.id, C.common_stats.latest_member.name) }}">{{ C.common_stats.latest_member.name }}</a></strong></dd>
        {% endif %}
      </dl>
      <div>
        <div class="floatright righttext">
          {{ C.show_stats ? '<a href="' ~ url_action(SCRIPTURL ~ '?action=stats') ~ '">' ~ T.more_stats ~ '</a>' : '' }}
        </div>
        <a href="{{ url_action(SCRIPTURL ~ '?action=recent') }}">{{ T.recent_view }}</a>
      </div>
    </div>
    </div>
  </div>
  <div class="cContainer_end"></div>
{% endif %}
{# social panel in the side bar #}
{% if ((C.user.is_guest or (O.use_share_bar is empty ? 1 : not O.use_share_bar))) %}
  {{ generics.collapser(_context, 'social_panel', 'Socialize', widgetstyle) }}
  <div class="blue_container norounded smallpadding gradient_darken_down">
    <div id="socialshareprivacy"></div>
    <div class="clear"></div>
  </div>
  </div>
  <div class="cContainer_end"></div>
{% endif %}
{# This is the "Recent Posts" bar. #}
{% if (S.number_recent_posts is not empty and (C.latest_posts is not empty or C.latest_post is not empty)) %}
  {{ generics.collapser(_context, 'recent_panel', '<a href="' ~ url_parse(SCRIPTURL ~ '?action=recent') ~ '">' ~ T.recent_posts ~ '</a>', widgetstyle) }}
  <div class="blue_container norounded smallpadding gradient_darken_down">
    <div class="smalltext" id="recent_posts_content" style="line-height:120%;">
      <div class="entry-title" style="display: none;">{{ C.forum_name_html_safe }} - {{ T.recent_posts }}</div>
      <div class="entry-content" style="display: none;">
        <a rel="alternate" type="application/rss+xml" href="{{ SCRIPTURL }}?action=.xml;type=webslice">{{ T.subscribe_webslice }}</a>
      </div>
      {% if S.number_recent_posts == 1 %}
        <strong><a href="{{ SCRIPTURL }}?action=recent">{{ T.recent_posts }}</a></strong>
        <p id="infocenter_onepost" class="smalltext">
          {{ T.recent_view }} &quot;{{ C.latest_post.link }}&quot; {{ T.recent_updated }} ({{ C.latest_post.time }})<br />
      </p>
      {% elseif C.latest_posts is defined %}
        <ol class="commonlist smalltext" style="padding:0;margin:0;">
        {% for post in C.latest_posts %}
          <li class="smallpadding">
            <a href = "{{ post.href }}" title="{{ post.subject }}">{{ post.short_subject }}</a><br>
            <span class="nowrap floatright tinytext">{{ post.time }}</span><strong class="tinytext">{{ post.poster.link }}</strong><br>
          </li>
        {% endfor %}
        </ol>
      {% endif %}
    </div>
   </div>
  </div>
  <div class="cContainer_end"></div>
{% endif %}
{# Show information about events, birthdays, and holidays on the calendar. #}
{% if C.show_calendar %}
  {% set title = C.calendar_only_today ? T.calendar_today : (T.calendar ~ ' (Next ' ~ M.cal_days_for_index ~ ' days)') %}
  {{ generics.collapser(_context, 'cal_panel', '<a href="' ~ url_action(SCRIPTURL ~ '?action=calendar') ~ '">' ~ title ~ '</a>', widgetstyle) }}
  <div class="blue_container norounded smallpadding gradient_darken_down">
    <div class="smalltext">
    {# Holidays like "Christmas", "Chanukah", and "We Love [Unknown] Day" :P. #}
    {% if C.calendar_holidays is not empty %}
      <div class="holiday">{{ T.calendar_prompt }}</div>{{ implode(', ', C.calendar_holidays) }}<br>
      <div class="cContainer_end"></div>
    {% endif %}
    {# People's birthdays. Like mine. And yours, I guess. Kidding. #}
    {% if C.calendar_birthdays is not empty %}
      <div class="birthday">{{ C.calendar_only_today ? T.birthdays : T.birthdays_upcoming }}</div>
      {% for member in C.calendar_birthdays %}
        <a href="{{ url_user(member.id, member.name) }}">{{ member.is_today ? '<strong>' : '' }}{{ member.name }}{{ member.is_today ? '</strong>' : '' }}{{ member.age is defined ? ' (' ~ member.age ~ ')' : '' }}</a>{{ member.is_last ? '<br />' : ', ' }}
      {% endfor %}
    {% endif %}
    {# Events like community get-togethers. #}
    {% if C.calendar_events is not empty %}
      <span class="event">{{ C.calendar_only_today ? T.events : T.events_upcoming }}</span>
      {% for event in C.calendar_events %}
        {{ event.can_edit ? '<a href="' ~ event.modify_href ~ '" title="' ~ T.calendar_edit ~ '"><img src="' ~ S.images_url ~ '/icons/modify_small.gif" alt="*" /></a> ' : '' }}{{ event.href == '' ? '' : '<a href="' ~ event.href ~ '">' }}{{ event.is_today ? '<strong>' ~ event.title ~ '</strong>' : event.title }}{{ event.href == '' ? '' : '</a>' }}{{ event.is_last ? '<br>' : ', ' }}
      {% endfor %}
    {% endif %}
    </div>
    </div>
    </div>
    <div class="cContainer_end"></div>
{% endif %}
{{ C.template_hooks.global.sidebar_bottom }}
